$ov-primary: #4156F6;
$ov-primary--light: #6979F8;
$ov-gray-bg: #F8F8F8;
$ov-grey--dark: #231F20;
$ov-text--title: #0D1C2E;
$ov-text--subtitle: #717A7F;
$ov-border--light: #ECEBED;
$ov-placeholder: #D0C9D6;
$ov-text--grey: #666666;
$ov-text--aqua: #007D85;
$ov-border: #D9D9D9;
$ov-background: #F5F7FB;