.el-form-item__content .el-form-item__error {
  position: absolute;
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  top: 0;
  left: 105%;
  padding: 14px;
  color: #e60022;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  max-width: 212px;
  height: max-content;
  min-height: 48px;
  border-radius: 13px;
  background-color: white;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.el-form-item__error:after,
.el-form-item__error:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 25px;
}
.el-form-item__error:before {
  left: -8px;
  margin-top: -8px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #fff;
}
.el-form-item__error:after {
  left: -7px;
  margin-top: -7px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #fff;
}

.error_icon {
  position: absolute;
  top: 12px;
  right: 7px;
}

.errorDialog {
  display: flex;
  flex-direction: column;
  width: max-content !important;
  font-size: 12px;
  height: max-content;
  border-radius: 13px !important;
  margin-top: 220px !important;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.2);
}

.errorDialog .el-dialog__header {
  display: none;
}
.errorDialog .el-dialog__footer {
  position: absolute;
  text-align: left;
  width: 100%;
  padding: 0;
  margin: 0;
  bottom: -24px;
}
.errorDialog .el-dialog__body {
  padding: 0 !important;
}
.errorDialog .error_info {
  display: block;
  margin-top: 15px;
}

.error_info {
  color: #717a7f;
  font-style: italic;
  font-weight: 400;
}

.error_info > li {
  margin-left: 15px;
}

.error_info > li::marker {
  font-size: 0.5em;
}

.el-form-item.is-error .el-input__wrapper {
  box-shadow: 0 0 0 1px #e60022 inset !important;
}

.done {
  color: #34b53a !important;
}

.warning {
  color: #ffa26b !important;
}

.weak {
  color: #e60022 !important;
}

.clear-error {
  cursor: pointer;
}

.el-form-item__global-error-container {
  width: 100%;
  border-color: #e60022;
  background: #fbe4e8;
  box-shadow: 0px 7px 64px rgb(0 0 0 / 7%);
  border-radius: 6px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  padding: 7px 12px;
  align-items: center;
  color: #e60022;
  gap: 16px;
  margin-bottom: 27px;
}
.el-form-item__global-error {
  font-family: 'Montserrat';
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.el-icon.is-loading {
  position: absolute;
  display: flex;
  justify-content: center;
}
